$primary   :rgb(15, 67, 119)
$secondary :rgb(88, 110, 117)
$accent    :rgb(255, 107, 66)

$dark      : #1D1D1D

$positive  :rgb(6, 179, 47)
$negative  :rgb(195, 2, 25)
$info      : #31CCEC
$warning   :rgb(242, 242, 55)
